<div class="profile-content-edit">     
  <div class="profile-edit">
    <h1 class = "page-title">PROFILE</h1>

    <div class = "profile-link-box">
      <div class="profile-link">             
        <%= link_to "設定ページ", edit_user_registration_path(current_user) ,class: "profile-link-text"%>
      </div>
      <div class="profile-link">             
        <%= link_to "登録済みドッグランページ", profiles_path ,class: "profile-link-text"%>
      </div>
      <div class="profile-link">             
        <%= link_to "登録済みコメント", "/comments/" ,class: "profile-link-text"%>
      </div>
      <div class="profile-link">             
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete,class: "profile-link-text"%>
      </div>
    </div>

    <br>
    <div id="profile-user-name">
      <%= current_user.name %>
    </div>
    <br>
      <div class="field">
        <% if current_user.image.attached?%>
          <%= image_tag @user.image,class:'profile-user-image' %>
        <% else %>
          <% image_tag 'no-image.user.png',class:'profile-user-image' %>
        <% end %>   
      </div>
  </div>
</div>

