使ってない

<div class="content">

  <h1>予約済みルーム一覧</h1>
  <h1>予約済みルーム一覧</h1>
  <h1>予約済みルーム一覧</h1>
  <h1>予約済みルーム一覧</h1>
  <h1>予約済みルーム一覧</h1>

  <div class="rooms-index-list">
    <table>
        <thead>
            <tr>
                <th>画像</th>
                <th>名</th>
                <th>紹介</th>
                <th>住所</th>
                <th>登録日</th>
                
            </tr>
        </thead>
          <tbody>
            <% @dogrun.each do |dogrun| %>
              <tr>

                <td> <%= image_tag dogrun.image %></td>
                <td> <%= dogrun.dogrun_name %></td>
                <td> <%= dogrun.pr %></td>
                <td> <%= dogrun.address %></td>
                <td> <%= dogrun.created_at  %></td>
 
              </tr>
            <% end %>
          </tbody>
        </table>
    </div>
</div>
