使ってない
<!--サイドバー部分-->
<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                
                     <%= link_to("アカウント", "/users/#{current_user.id}", {class: "sidebar-account"}) %>
                     <%= link_to("プロフィール", "/profiles/#{current_user.id}/edit", {class: "sidebar-profile"}) %>
                
                <hr>
            </div>
        </div>

<!--メイン部分-->

<div class="user-show-main">
    <div class="user-show-wrap">
          <h1>アカウント設定</h1>
          
              <div class="field">
                  <th>メールアドレス</th>
                  <td><%= @user.email %></td>
                </tr>
              </div>
              <div class="field">
                <tr>
                  <th>パスワード</th>
                  <td>********</td>
                </tr>
              </div>
              
              </table>
          
              <div>
                  <%= link_to "編集", [:edit, @user], class: "button is-warning is-light" %>   
            </div>
<%= link_to("アカウント", "/users/#{current_user.id}", {class: "sidebar-account"}) %>
                     <%= link_to("プロフィール", "/profiles/#{current_user.id}/edit", {class: "sidebar-profile"}) %>
                
    </div>
</div>
